@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-weight: normal;
  src: local('Monaco'), url('../fonts/Monaco/Monaco.woff') format('woff');
  }

html {
  background-color: #303030;
  font-size: 1em;
  color: #ffffff;
  font-family: Lato;
  font-weight: 200;
  line-height: 24px;
}

h2, h1 {
  font-family: monaco, monospace;
  color: #59afff;
}
.main-body {
  padding: 0 8%;
  padding-top: 3vh;
  margin: 0 auto;
  max-width: 70vw;
}

h2 {
  font-size: 200%;
}

body{
  margin: 0 auto;
  font-weight: 1;
}

@media only screen and (max-width: 1080px) {
  h2 {
    font-size: 300%;
  }
}