html {
  background-color: white;
  /* background-color: white; */
  font-size: 1em;
  color: black;
  font-family: sans-serif;
  font-weight: 200;
  line-height: 24px;
}

h2, h1 {
  font-family: monaco;
  color: #50a9fc;
}
.main-body {
  padding: 0 8%;
  padding-top: 150px;
}

h2 {
  font-size: 200%;
}

body{
  margin: 0 auto;
  font-weight: 1;
}