.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

.headername{
  flex-grow: 1;
  font-size:3em;
  /* color: #00ff0d; */
}

.headerlinks{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  overflow: hidden;
  flex-grow: 1;
  /* width: 30vw; */
}

.headerlink{
  margin: auto 0;
  list-style-type: none;
  /* flex-grow: 1; */
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5em;
}

.divider{
  margin: auto 0;
  list-style-type: none;
  /* flex-grow: 1; */
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: white;
  transition: 2s;
}

a:hover{
  color: #b0b0b0;
  transition: 0.5s;
  text-decoration: underline;
}

.cursor{
  background-color: white;
  color: white;
}

.cursorhidden{
  visibility: hidden;
}

.container{
  /* position: fixed; */
  width: 95vw;
  margin: 0 auto;
  /* background: black; */
  padding: 0;
}

@media only screen and (max-width: 1080px) {
  .headerlinks{
    /* display: none; */
    justify-content: center;
    flex-direction: column;
  }
  .headername{
    text-align: center;
    font-size: 3rem;
  }
  .header{
    justify-content: center;
    flex-direction: column;
  }
  .divider{
    display: none;
  }
}